<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>New Employee</h1>
    <form action="saveDep" method="post" th:action="@{/saveDep}" th:object="${department}">
        <table>
            <hidden name="id"/>
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" th:field="*{name}" name="name"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>